
<h1>songs</h1>
<%=songData[0].fname%>
<form method="post" action="/delete/<%=songData[0]._id%>">
    <%=songData[0].song_name%>
    <p>action="/delete/<%=songData[0]._id%>"</p>
    <input type="submit" value="delete first song">

</form>
 <br>
 <form method="post" action="/update">
    <input type="hidden" name="nameID" value="<%=songData[0]._id%>">
    <input name="inputUpdateName">
    <input type="submit" value="update first song">

</form>
<br>
<a href="/insert">insert value</a>
<form method="get" action="/insert">
    <input name="myName">
    <input type="submit" value="save my name!">
   
</form>